{% extends 'base.html.twig' %}

{% block title %}Arcadia Zoo - Accueil {% endblock %}

{% block body %}

    <div class="container mt-4 text-center">
        <h1>Bienvenue sur le site du Zoo Arcadia </h1>
    </div>

        <div class="container mt-lg-4 text-center">
            Crée depuis 1960, le Zoo Arcadia situé en France près de la forêt de Brocéliande en Bretagne, possède tout un panel d’animaux ( Lions, Alligators, Primates…)</br>
            réparti chacun dans trois habitats différents. Soucieux de leur bien-être José, le responsable du zoo ainsi que toute son équipe de vétérinaires, </br>
            effectuent chaque matins avant l’ouverture, des contrôles réguliers sur chaque animal afin de s’assurer de leur bon etat de santé </br>
            et ainsi vous garantir une visite à la hauteur de sa réputation.
            Nous avons la fierté de pouvoir vous accueillir dans un Zoo entièrement autonome </br>
            respectant les normes Ecologique et environnementales.</br>
    </div>
{% endblock %}
